APPS_SCRIPT_API_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
FINANCE_API_TOKEN=generate-token-from-apps-script
FINANCE_APP_LOGIN_CODE=make-a-private-login-code
ALLOW_EMAIL_OVERRIDE=false
